*.aux
*.fls
*.fdb_latexmk
*.hd
*.idx
*.ilg
*.ind
*.log
main.pdf
*.synctex.gz
*.synctex(busy)
*.toc
*.out
*.xdv
# Biblatex
*.bbl
*.bcf
*.blg
*.run.xml
*.glo

swufedoc.cls
swufethesis.cls
swufethesis.pdf
swufedoc.pdf
swufethesis-doc.pdf

#l3build
build/
*.zip

# Local Netlify folder
.netlify
