*.aux
*.fls
*.fdb_latexmk
*.log
main.pdf
*.synctex.gz
*.toc
*.out
*.xdv
# Biblatex
*.bbl
*.bcf
*.blg
*.run.xml

swufethesis.cls
swufethesis.pdf
swufedoc.pdf
swufelogo.pdf

#l3build
build/
*.zip

# Local Netlify folder
.netlify
