name: Lint
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-18.04
    env:
      cache-version: v20210303.1
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Cache
        id: cache
        uses: actions/cache@v2.1.6
        with:
          path: |
            .ci-dock
            /opt/hostedtoolcache/perl
          key: lint-${{ runner.os }}-${{ env.cache-version }}
      - name: Install latexindent
        if: steps.cache.outputs.cache-hit != 'true'
        run: source ci/latexindent-install.sh
      - name: Setup Perl environment (for cpanm)
        uses: shogo82148/actions-setup-perl@v1.14.0
      - name: Install Perl dependencies
        run: source ci/latexindent-deps-install.sh
      - name: Check format
        run: source ci/latexindent.sh
